@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap");
@font-face {
  font-family: "Sharp-Grotesk";
  src: url("../Font/Sharp/SharpGrotesk-Book20.otf");
  src: url("../Font/Sharp/SharpGrotesk-Book20.woff2") format("woff2"), url("../Font/Sharp/SharpGrotesk-Book20.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sharp-Grotesk";
  src: url("../Font/Sharp/SharpGrotesk-SemiBold20.otf");
  src: url("../Font/Sharp/SharpGrotesk-SemiBold20.woff2") format("woff2"), url("../Font/Sharp/SharpGrotesk-SemiBold20.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Sharp-Grotesk", sans-serif !important;
  font-feature-settings: "salt" on;
  color: #00001e;
}

hr {
  border: 2px solid #c6c3bf;
}

.row > .col-12 > p {
  color: #6c7eff;
}

.row {
  max-width: 95%;
  margin: 2rem auto !important;
}
.row .type {
  padding-bottom: 2rem;
}
.row .type .regular {
  font-weight: 400;
}

strong,
.bold,
.strong {
  font-weight: 600 !important;
}

.typo .regular span,
.typo .bold span {
  display: block;
  padding-bottom: 50px;
}

.heading .large, .heading.large {
  font-size: clamp(48px, 43.42px + 1.42vw, 64px);
  line-height: 108%;
  letter-spacing: 0.042em;
}
.heading .large.strong, .heading .large .strong, .heading .large strong, .heading.large.strong, .heading.large .strong, .heading.large strong {
  letter-spacing: 0.048em;
}
.heading .medium, .heading.medium {
  font-size: clamp(40px, 35.36px + 1.42vw, 56px);
  line-height: 116%;
  letter-spacing: 0.036em;
}
.heading .medium.strong, .heading .medium .strong, .heading .medium strong, .heading.medium.strong, .heading.medium .strong, .heading.medium strong {
  letter-spacing: 0.04em;
}
.heading .small, .heading.small {
  font-size: clamp(32px, 29.6px + 0.71vw, 40px);
  line-height: 124%;
  letter-spacing: 0.024em;
}
.heading .small.strong, .heading .small .strong, .heading .small strong, .heading.small.strong, .heading.small .strong, .heading.small strong {
  letter-spacing: 0.028em;
}

.title .xx-large, .title.xx-large {
  font-size: clamp(32px, 27.42px + 1.42vw, 48px);
  line-height: 120%;
  letter-spacing: 0.032em;
}
.title .xx-large.strong, .title .xx-large .strong, .title .xx-large strong, .title.xx-large.strong, .title.xx-large .strong, .title.xx-large strong {
  letter-spacing: 0.036em;
}
.title .x-large, .title.x-large {
  font-size: clamp(28px, 24.48px + 1.07vw, 40px);
  line-height: 124%;
  letter-spacing: 0.02em;
}
.title .x-large.strong, .title .x-large .strong, .title .x-large strong, .title.x-large.strong, .title.x-large .strong, .title.x-large strong {
  letter-spacing: 0.024em;
}
.title .large, .title.large {
  font-size: clamp(24px, 21.71px + 0.71vw, 32px);
  line-height: 132%;
  letter-spacing: 0.016em;
}
.title .large.strong, .title .large .strong, .title .large strong, .title.large.strong, .title.large .strong, .title.large strong {
  letter-spacing: 0.02em;
}
.title .medium, .title.medium {
  font-size: clamp(20px, 18.72px + 0.357vw, 24px);
  line-height: 140%;
  letter-spacing: 0.012em;
}
.title .medium.strong, .title .medium .strong, .title .medium strong, .title.medium.strong, .title.medium .strong, .title.medium strong {
  letter-spacing: 0.016em;
}
.title .small, .title.small {
  font-size: clamp(18px, 17.42px + 0.178vw, 20px);
  line-height: 148%;
  letter-spacing: 0.008em;
}
.title .small.strong, .title .small .strong, .title .small strong, .title.small.strong, .title.small .strong, .title.small strong {
  letter-spacing: 0.012em;
}
.title .x-small, .title.x-small {
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0.004em;
}
.title .x-small.strong, .title .x-small .strong, .title .x-small strong, .title.x-small.strong, .title.x-small .strong, .title.x-small strong {
  letter-spacing: 0.008em;
}

.paragraph .large, .paragraph.large {
  font-size: clamp(18px, 17.42px + 0.178vw, 20px);
  line-height: 156%;
  letter-spacing: -0.008em;
}
.paragraph .large.strong, .paragraph .large .strong, .paragraph .large strong, .paragraph.large.strong, .paragraph.large .strong, .paragraph.large strong {
  letter-spacing: -0.004em;
}
.paragraph .medium, .paragraph.medium {
  font-size: clamp(14px, 13.28px + 0.178vw, 16px);
  line-height: 164%;
  letter-spacing: -0.004em;
}
.paragraph .medium.strong, .paragraph .medium .strong, .paragraph .medium strong, .paragraph.medium.strong, .paragraph.medium .strong, .paragraph.medium strong {
  letter-spacing: 0;
}
.paragraph .small, .paragraph.small {
  font-size: clamp(12px, 11.42px + 0.178vw, 14px);
  line-height: 164%;
  letter-spacing: 0.002em;
}
.paragraph .small.strong, .paragraph .small .strong, .paragraph .small strong, .paragraph.small.strong, .paragraph.small .strong, .paragraph.small strong {
  letter-spacing: 0.006em;
}
.paragraph .x-small, .paragraph.x-small {
  font-size: clamp(8px, 7.36px + 0.175vw, 10px);
  line-height: 172%;
  letter-spacing: 0.004em;
}
.paragraph .x-small.strong, .paragraph .x-small .strong, .paragraph .x-small strong, .paragraph.x-small.strong, .paragraph.x-small .strong, .paragraph.x-small strong {
  letter-spacing: 0.01em;
  font-weight: 600 !important;
}

.paragraph.serif {
  font-family: "Source Serif Pro", serif !important;
  font-weight: 400;
}
.paragraph.serif .large, .paragraph.serif.large {
  font-size: clamp(18px, 17.42px + 0.178vw, 20px);
  line-height: 156%;
  letter-spacing: -0.008em;
}
.paragraph.serif .large.strong, .paragraph.serif .large .strong, .paragraph.serif .large strong, .paragraph.serif.large.strong, .paragraph.serif.large .strong, .paragraph.serif.large strong {
  letter-spacing: -0.004em;
}
.paragraph.serif .medium, .paragraph.serif.medium {
  font-size: clamp(14px, 13.28px + 0.178vw, 16px);
  line-height: 164%;
  letter-spacing: -0.004em;
}
.paragraph.serif .medium.strong, .paragraph.serif .medium .strong, .paragraph.serif .medium strong, .paragraph.serif.medium.strong, .paragraph.serif.medium .strong, .paragraph.serif.medium strong {
  letter-spacing: 0;
}
.paragraph.serif .small, .paragraph.serif.small {
  font-size: clamp(12px, 11.42px + 0.178vw, 14px);
  line-height: 164%;
  letter-spacing: 0.002em;
}
.paragraph.serif .small.strong, .paragraph.serif .small .strong, .paragraph.serif .small strong, .paragraph.serif .small strong, .paragraph.serif.small.strong, .paragraph.serif.small .strong, .paragraph.serif.small strong, .paragraph.serif.small strong {
  letter-spacing: 0.006em;
}
.paragraph.serif .x-small, .paragraph.serif.x-small {
  font-size: clamp(8px, 7.36px + 0.178vw, 10px);
  line-height: 172%;
  letter-spacing: 0.004em;
}
.paragraph.serif .x-small.strong, .paragraph.serif .x-small .strong, .paragraph.serif .x-small strong, .paragraph.serif .x-small strong, .paragraph.serif.x-small.strong, .paragraph.serif.x-small .strong, .paragraph.serif.x-small strong, .paragraph.serif.x-small strong {
  letter-spacing: 0.01em;
  font-weight: 600 !important;
}

.button {
  margin: 2rem 0;
  background-color: #6C7EFF;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  transition: all 0.35s ease-in-out;
  color: #fff;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 2px;
}
.button.invert {
  background-color: #fff;
  color: #6C7EFF;
  box-shadow: inset 0px 0px 0px 1px #6C7EFF;
}
.button.invert:hover {
  background-color: #fff;
  color: #5062E2;
  box-shadow: inset 0px 0px 0px 2px #5062E2;
}
.button.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.button svg {
  transition: all 0.5s ease-in-out;
}
.button:hover {
  background-color: #5062E2;
  cursor: pointer;
}
.button:hover svg {
  scale: 1.2;
}
.button:hover svg path {
  stroke: #5062E2;
  stroke-width: 1px;
}

.chip {
  padding: 10px 16px;
  border-radius: 16px;
  color: #fff;
  display: inline;
}

input.input-fz {
  border: 2px solid #d6d6db;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}
input.input-fz:focus {
  color: #00001e;
  outline: none !important;
  border-color: #6C7EFF;
}
input.input-fz::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8e8e9b;
  opacity: 1; /* Firefox */
}
input.input-fz::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8e8e9b;
  opacity: 1; /* Firefox */
}

.color-box {
  height: 200px;
  width: 200px;
}

.cold-grey-fz-bg-100 {
  background-color: #fcfcfd;
}

.cold-grey-fz-bg-200 {
  background-color: #fafafb;
}

.cold-grey-fz-bg-300 {
  background-color: #f2f2f3;
}

.cold-grey-fz-bg-400 {
  background-color: #d6d6db;
}

.cold-grey-fz-bg-500 {
  background-color: #b7b7bf;
}

.cold-grey-fz-bg-600 {
  background-color: #8e8e9b;
}

.cold-grey-fz-bg-700 {
  background-color: #5c5c6f;
}

.cold-grey-fz-bg-800 {
  background-color: #21213b;
}

.cold-grey-fz-bg-900 {
  background-color: #00001e;
}

.cold-grey-fz-100 {
  color: #fcfcfd;
}

.cold-grey-fz-200 {
  color: #fafafb;
}

.cold-grey-fz-300 {
  color: #f2f2f3;
}

.cold-grey-fz-400 {
  color: #d6d6db;
}

.cold-grey-fz-500 {
  color: #b7b7bf;
}

.cold-grey-fz-600 {
  color: #8e8e9b;
}

.cold-grey-fz-700 {
  color: #5c5c6f;
}

.cold-grey-fz-800 {
  color: #21213b;
}

.cold-grey-fz-900 {
  color: #00001e;
}

.warm-grey-fz-bg-100 {
  background-color: #fffaf5;
}

.warm-grey-fz-bg-200 {
  background-color: #f9f4ef;
}

.warm-grey-fz-bg-300 {
  background-color: #e6e1dd;
}

.warm-grey-fz-bg-400 {
  background-color: #c6c3bf;
}

.warm-grey-fz-bg-500 {
  background-color: #9a9794;
}

.warm-grey-fz-bg-600 {
  background-color: #656361;
}

.warm-grey-fz-bg-700 {
  background-color: #393836;
}

.warm-grey-fz-bg-800 {
  background-color: #191918;
}

.warm-grey-fz-bg-900 {
  background-color: #060606;
}

.blue-fz-bg-100 {
  background-color: #EFF1FF;
}

.blue-fz-bg-200 {
  background-color: #DADFFF;
}

.blue-fz-bg-300 {
  background-color: #B6BFFF;
}

.blue-fz-bg-400 {
  background-color: #919EFF;
}

.blue-fz-bg-500 {
  background-color: #6C7EFF;
}

.blue-fz-bg-600 {
  background-color: #5062E2;
}

.blue-fz-bg-700 {
  background-color: #3C49AA;
}

.blue-fz-bg-800 {
  background-color: #283171;
}

.blue-fz-bg-900 {
  background-color: #141839;
}

.yellow-fz-bg-100 {
  background-color: #FFFBF4;
}

.yellow-fz-bg-200 {
  background-color: #FFF6E7;
}

.yellow-fz-bg-300 {
  background-color: #FFEDCE;
}

.yellow-fz-bg-400 {
  background-color: #FFE4B6;
}

.yellow-fz-bg-500 {
  background-color: #FFDB9D;
}

.yellow-fz-bg-600 {
  background-color: #E2BF81;
}

.yellow-fz-bg-700 {
  background-color: #AA8F61;
}

.yellow-fz-bg-800 {
  background-color: #715F40;
}

.yellow-fz-bg-900 {
  background-color: #393020;
}

.orange-fz-bg-100 {
  background-color: #FFF2EF;
}

.orange-fz-bg-200 {
  background-color: #FFE1DA;
}

.orange-fz-bg-300 {
  background-color: #FFC3B6;
}

.orange-fz-bg-400 {
  background-color: #FFA591;
}

.orange-fz-bg-500 {
  background-color: #FF876C;
}

.orange-fz-bg-600 {
  background-color: #E26B50;
}

.orange-fz-bg-700 {
  background-color: #AA503C;
}

.orange-fz-bg-800 {
  background-color: #713528;
}

.orange-fz-bg-900 {
  background-color: #391B14;
}

.pink-fz-bg-100 {
  background-color: #FFF5F5;
}

.pink-fz-bg-200 {
  background-color: #FFE8E8;
}

.pink-fz-bg-300 {
  background-color: #FFD0D0;
}

.pink-fz-bg-400 {
  background-color: #FFB9B9;
}

.pink-fz-bg-500 {
  background-color: #FFA2A2;
}

.pink-fz-bg-600 {
  background-color: #E28585;
}

.pink-fz-bg-700 {
  background-color: #AA6464;
}

.pink-fz-bg-800 {
  background-color: #714343;
}

.pink-fz-bg-900 {
  background-color: #392121;
}

.violet-fz-bg-100 {
  background-color: #F8F4FF;
}

.violet-fz-bg-200 {
  background-color: #EEE7FF;
}

.violet-fz-bg-300 {
  background-color: #DECEFF;
}

.violet-fz-bg-400 {
  background-color: #CDB6FF;
}

.violet-fz-bg-500 {
  background-color: #BC9DFF;
}

.violet-fz-bg-600 {
  background-color: #A081E2;
}

.violet-fz-bg-700 {
  background-color: #7861AA;
}

.violet-fz-bg-800 {
  background-color: #504071;
}

.violet-fz-bg-900 {
  background-color: #282039;
}

.green-ocean-fz-bg-100 {
  background-color: #F3FCFA;
}

.green-ocean-fz-bg-200 {
  background-color: #E4F8F5;
}

.green-ocean-fz-bg-300 {
  background-color: #C8F2EB;
}

.green-ocean-fz-bg-400 {
  background-color: #ADEBE0;
}

.green-ocean-fz-bg-500 {
  background-color: #92E4D6;
}

.green-ocean-fz-bg-600 {
  background-color: #75C8BA;
}

.green-ocean-fz-bg-700 {
  background-color: #58968B;
}

.green-ocean-fz-bg-800 {
  background-color: #3B645D;
}

.green-ocean-fz-bg-900 {
  background-color: #1D322E;
}

.green-grass-fz-bg-100 {
  background-color: #FAFCF1;
}

.green-grass-fz-bg-200 {
  background-color: #F5F8DF;
}

.green-grass-fz-bg-300 {
  background-color: #EAF1C0;
}

.green-grass-fz-bg-400 {
  background-color: #E0EAA0;
}

.green-grass-fz-bg-500 {
  background-color: #D5E380;
}

.green-grass-fz-bg-600 {
  background-color: #B9C763;
}

.green-grass-fz-bg-700 {
  background-color: #8B954B;
}

.green-grass-fz-bg-800 {
  background-color: #5C6332;
}

.green-grass-fz-bg-900 {
  background-color: #2E3219;
}

.app {
  max-width: 100vw;
  border: 2px solid #f2f2f3;
}
.app .container {
  max-width: 1600px;
}
.app .container .component > * {
  margin-bottom: 1rem !important;
}
.app .container .component + .component {
  margin-bottom: 1.5rem !important;
}
.app .container .component p.paragraph {
  margin-bottom: 0.5rem !important;
}
.app .container .component p.paragraph.intro {
  color: #8e8e9b;
}
.app .container .component input {
  width: 100%;
  padding: 8px 16px;
}
.app .container .component .progress-bar {
  background-color: #f2f2f3;
  width: 100%;
  border-radius: 4px;
  height: 0.5rem;
}
.app .container .component .progress-bar .progress {
  width: 20%;
  background-color: #6C7EFF;
}
.app .container .component .button {
  padding: 8px 16px;
  line-height: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.app .container .fattura div {
  height: 900px;
  width: 100%;
  background-color: #fffaf5;
}
.app .header, .app .footer {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.app .header .button, .app .footer .button {
  padding: 8px 16px;
  line-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.app .footer {
  border-top: 2px solid #f2f2f3;
}

button.button {
  min-width: 80px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  border: 0;
}
button.button.large {
  height: 48px;
  padding: 0 32px;
}
@media (max-width: 767.98px) {
  button.button.large {
    height: 40px;
    padding: 0 24px;
  }
}
button.button.medium {
  height: 40px;
  padding: 0 24px;
}
@media (max-width: 767.98px) {
  button.button.medium {
    height: 32px;
    padding: 0 20px;
  }
}
button.button.small {
  height: 16px;
}
@media (max-width: 767.98px) {
  button.button.small {
    height: 28px;
    padding: 0 14px;
  }
}/*# sourceMappingURL=style.css.map */